{% extends 'creations/base.html ' %}

{% block title %}
<title>our own creation -Django Project by cbsetoday.com</title>
{% endblock title%}

{% block portfolio %}

<div id="portfolio">
    <div class="container">
        <h2>Portfolio</h2>
    </div>
    <div class="container">
        {% for post in posts %}
        <div class="card">
        
            <h3>{{post.name}}</h3>
            <img class="responsive" src="{{post.creation_image.url}}" alt="{{post.name}}">
            <p>{{post.description}}</p>
            <a href="{{post.url}}" target="_blank">Visit Site</a>
        </div>
        {% endfor %}

    </div>
    <div class="container">

        {% include 'creations/pagination.html' %}

    </div>
</div>




{% endblock portfolio %}